.my-title{
    margin: 50px auto;
    width: 200px;
    text-align: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #ddd;
    padding: 30px 0;
}


.my-join{/* col이 float처리가 되어 있어 margin을 가운데로 못보냄 */
    margin: 0 auto;
    float: none;/* 한칸만 가운데로 보낼때 */
    padding: 20px 30px;
    box-shadow: 2px 2px 25px 5px #777;
}

.my-input{
    width: 100%;
    height: 30px;
    padding: 15px;
    border: 1px solid #777;
}
.my-input:focus{
    outline: none;
    border:1px solid wheat
}

.my-btn{
    width: 100%;
    padding: 10px;
}

